/*----------------------bar-------------------------*/

.barg{
  /* background-color: rgba(191,227,254); */
  background-color: #87cdfb;
  /* height: fit-content; */
  height: 100px;
  width: 100%;
  /* max-width: 200vh; */
  border-radius: 5px;

  position: relative;
  top: 5vh;
  
  overflow-x: scroll; 
  left: 50%;
  transform: translateX(-50%);
}

/* width */
.barg::-webkit-scrollbar {
  height: 20px;
}

/* Track */
.barg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.barg::-webkit-scrollbar-thumb {
  background: #0070C0;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/*-----------------------------------------------------------------------*/

.barr{
  background-color: rgb(245, 237, 191);
  height: 100px;
  /* height: fit-content; */
  width: 100%;
  /* max-width: 200vh; */
  /* position: relative; */
  /* float: right;
  right: 2%; */
  /* top: 50px; */
  /* display: flex; */
  /*align-items: center; */
  position: relative;
  top: 5vh;
  border-radius: 5px;
  overflow-x: scroll; 
  left: 50%;
  transform: translateX(-50%);
}

/* width */
.barr::-webkit-scrollbar {
  /* width: 10px; */
  height: 20px;
}

/* Track */
.barr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.barr::-webkit-scrollbar-thumb {
  background: #e7c817;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/*-----------------------------------------------------------------------*/

.barh{
  background-color: #f1bdc6;
  height: 100px;
  /* height: fit-content; */
  width: 100%;
  border-radius: 5px;
  position: relative;
  top: 5vh;
  overflow-x: scroll; 
  left: 50%;
  transform: translateX(-50%);
}

/* width */
.barh::-webkit-scrollbar {
  /* width: 10px; */
  height: 20px;
}

/* Track */
.barh::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.barh::-webkit-scrollbar-thumb {
  background: #DD2D4D;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

/*-----------------------------------------------------------------------*/

.flex{
  display: flex;
}

