
#selectDate{
    /* background-color: #fdb5d7; */
    background-color: #faa2c0;
    /* height: 50px; */
    width: 180px;
}
#date{
    height: 12px;
    font-family: 'Acme', sans-serif;
    color-scheme: #ddfddd;
}

