.container1{
    background-color: #9bc6f7;
    height: 55px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header{
    /* padding-top: 1%; */
    /* font-size: 20px; */
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo{
    margin-right: 20px;
    /* border: 2px solid black; */
}

.x{
    width: 180px;
}