.container1{
    background-color: rgba(155,198,247);
    height: 55px;
    width: 100%;
    position: relative;
}

.header{
    padding-top: 1%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    margin-right: 20px;
}