.picwaste {
  background-color: wheat;
  width: 60px;
  height: 60px;

  flex-shrink: 0;
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  /* margin: 15px; */
  user-select: none;
}

.picwasteZoom {
  background-color: wheat;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin: 10px;
  user-select: none;
}

.picwasteHighlight {
  background-color: wheat;
  box-shadow: 0px 0px 20px rgb(156, 72, 235);
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin: 10px;
  user-select: none;
}

.respic {
  width: 100%;
  max-width: 100px;
  height: 100px;
}
