.container-select {
  background-color: rgba(149,175,255);
  border-radius: 5px;
  width: 25%;
  height: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  top: -50px;
  
  /* float: right; */
  left: 60%;
  /* right: 2%; */

  /* right: -300px; */
  /* right: 2%; */
  user-select: none;
  
}

.containerPicBlue {
  background-color: #0070C0;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.containerPicYellow {
  background-color: #F3DC5F;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.containerPicRed {
  background-color: #DD2D4D;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.container-text-button {
  background-color: transparent;
}

.button-select1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: pointer;
  padding-right: 2px;
  padding-top: 3px;
  border: none;
}

.button-select1:hover{
  background-color: rgba(2, 47, 211, 0.59);
}

.button-select2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: pointer;
  margin-left: 15px;
  padding-left: 2px;
  padding-top: 3px;
  border: none;
}

.button-select2:hover{
  background-color: rgba(2, 47, 211, 0.59);
}

.Text{
  font-size: 18px;
}