.container-select {
  background-color: #b398fc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  float: right;
  user-select: none;
}

.containerPicBlue {
  background-color: #0070C0;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.containerPicYellow {
  background-color: #F3DC5F;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.containerPicRed {
  background-color: #DD2D4D;
  border-radius: 5px;
  height: 120px;
  width: 120px; 
}

.container-text-button {
  background-color: transparent;
}

.button-select1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: url(../picture/click.png), pointer;
  
  padding-right: 2px;
  padding-top: 3px;
  border: none;
  box-shadow: 0 4px #999;
}

.button-select1:hover{
  background-color: rgba(2, 47, 211, 0.59);
}

.button-select1:active{
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-select2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: url(../picture/click.png), pointer;
  margin-left: 15px;
  padding-left: 2px;
  padding-top: 3px;
  border: none;
  box-shadow: 0 4px #999;
}

.button-select2:hover{
  background-color: rgba(2, 47, 211, 0.59);
}

.button-select2:active{
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.Text{
  font-size: 18px;
}

.break{
  flex-basis: 100%;
  height: 0px;
}