.container-select {
  background-color: rgba(101, 126, 255, 0.56);
  border-radius: 5px;
  width: 22%;
  height: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  top: 30px;
  float: right;
  /* right: -300px; */
  right: 2%;
}

.container-pic {
  /*รูปภาพ*/
  background-color: wheat;
  height: 120px;
  width: 120px; 
}

.container-text-button {
  background-color: transparent;
}

.button-select1 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: pointer;
  padding-right: 2px;
}

.button-select2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(43, 86, 236, 0.59);
  cursor: pointer;
  margin-left: 15px;
  padding-left: 2px;
}
