/*-----------------------table-------------------------*/



#Amount{
    border-collapse: collapse;
    /* position: relative; */
    position: relative;
    /* float: right; */
    /* right: 10%; */
    width: 400px;
    
}



#Amount tr, #Amount th{
    border: 2px solid black;
    
    padding: 2%;
    width: 50%;
    
}

.one{
    background-color: #125B4E;
    color: blanchedalmond;
}

.two{
    background-color: #0070C0;
}

.three{
    background-color: #F3DC5F;
}

.four{
    background-color: #DD2D4D;
    
}

.typeWaste{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.typeWaste:hover{
    color: white;
    text-shadow: 0px 0px 5px white;
}



.positionX{
    display: flex;
    /* flex-direction: column; */
    -webkit-align-items: stretch; 
    align-items: stretch; 
    justify-content: space-around;
}