/*-----------------------table-------------------------*/



#Amount{
    /* border-collapse: collapse; */
    /* position: relative; */
    position: relative;
    /* float: right; */
    /* right: 10%; */
    width: 400px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: black;
   
}



#Amount tr, #Amount th{
    /* border: 2px solid black; */
    padding: 2%;
    width: 50%;
    
}

#Amount tr:first-child th:first-child {
    
    border-top-left-radius: 5px;
}

#Amount tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

#Amount tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
}

#Amount tr:last-child th:last-child {
    border-bottom-right-radius: 5px;
}

.one{
    background-color: #125B4E;
    color: blanchedalmond;
}

.two{
    background-color: #0070C0;
}

.three{
    background-color: #F3DC5F;
}

.four{
    background-color: #DD2D4D;
    
}

.typeWaste{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.typeWaste:hover{
    color: white;
    text-shadow: 0px 0px 5px white;
}

.positionX{
    /* background-color: #125B4E; */
    display: flex;
    /* flex-direction: column; */
    -webkit-align-items: stretch; 
    align-items: stretch; 
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.break{
    flex-basis: 100%;
    height: 0px;
  }

.break-column {
    flex-basis: 100%;
    width: 0;
}