/*-----------------------table-------------------------*/

#Amount{
    position: relative;
    min-width: 400px;
    width: 30vw;
    height: 20vh;
    min-height: auto;
    border-radius: 5px;
    background-color: black;
}

#Amount tr, #Amount th{
    padding: 2%;
    width: 50%;
}

#Amount tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

#Amount tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

#Amount tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
}

#Amount tr:last-child th:last-child {
    border-bottom-right-radius: 5px;
}

.one{
    background-color: #01b29a;
    color: black;
    font-size: calc(10px + 0.5vw);
}

.two{
    background-color: #0070C0;
}

.three{
    background-color: #F3DC5F;
}

.four{
    background-color: #DD2D4D;
}

.typeWaste{
    background-color: transparent;
    border: none;
    cursor: url(../picture/click.png), pointer;
    padding-left: 5%;
    padding-right: 5%;
    width: 63%;
    box-shadow: 0 2px rgb(50, 50, 50);
    font-size: calc(8px + 0.4vw);
}

.typeWaste:active{
    transform: translateY(2px);
    box-shadow: 0 1px black;
}

#tgg{
    background-color: rgb(118, 174, 215);
    
    /* border: 1px solid rgb(98, 163, 209); */
    border-radius: 5px;
    /* box-shadow: 0 2px rgb(50, 50, 50); */
}
#trr{
    background-color: rgb(245, 237, 191);
    border-radius: 5px;
    /* box-shadow: 0 2px rgb(50, 50, 50); */
}
#thh{
    background-color: #f1bdc6;
    border-radius: 5px;
    /* box-shadow: 0 2px rgb(50, 50, 50); */
}
.typeWaste:hover{
    /* color: white; */
    text-shadow: 0px 0px 5px white;
}

.positionX{
    display: flex;
    -webkit-align-items: stretch; 
    align-items: stretch; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.break{
    flex-basis: 100%;
    height: 0px;
  }

.break-column {
    flex-basis: 100%;
    width: 0;
}

.item1{
    position: relative;
    top: 5vh;
    margin-bottom: 5vh;
}

.item2{
    position: relative;
    top: 5vh;
    margin-bottom: 25vh;
}

.item3{
    display:flex;
    flex-direction: column;
    position: relative; 
    top: -15vh;
    width:90%;
}

.hint{
    float: left;
    font-size: medium;
    margin-top: 0.4vw;
}