/*-----------------------table-------------------------*/
#Amount{
    border-collapse: collapse;
    /* position: relative; */
    position: relative;
    float: right;
    right: 2%;
}

#Amount tr, #Amount th{
    border: 2px solid black;
    padding: 2%;
    width: 45%;
}

.one{
    background-color: #125B4E;
    color: blanchedalmond;
}

.two{
    background-color: #0070C0;
}

.three{
    background-color: #F3DC5F;
}

.four{
    background-color: #DD2D4D;
}

.typeWaste{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.typeWaste:hover{
    color: white;
    text-shadow: 0px 0px 5px white;
}

.position{
    display: flex;
    /* flex-direction: column;  */
    
}

.positionX{
    display: flex;
    flex-direction: column;
}